@import 'styles/mixins/rhythm.mixin';

:host {
  display: block;
}

.metamask-account {
  &__fox {
    width: rhythm(7);
    margin-right: rhythm(1);
  }

  &__current-account-balance {
    margin-left: rhythm(2);
  }
}
